.main {
  max-width: 500px;
  margin: 0 auto;
}

.TopCard{
    text-align: center;
}

.TopCard img{
    border: 5px solid orange;
    border-radius: 50%;
    margin: 20px 0;
}

.TopCard_list{
    color: var(--bs-gray-600);
}

.ProfileCard td{
    color: white;
}

.SkillNameBox{
    vertical-align:middle;
}

.SkillNameBox img{
    margin-right: 20px;
}

.SkillSinceBox{
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    color: var(--bs-gray-600);
}

.grayout{
    color: var(--bs-gray-600);
}

.ContactsCard td{
    color: white;
}

.Copyright{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}